body {
    color: rosybrown;
    margin: auto;
    font-family: "Verdana", Arial, sans-serif;
    font-size: 12px;
    background-color: #d6d7d2;
    background-color: #fff;
    border-style: solid;
    background-image: url("/../image/pets_background_dogs_bone_icons_decoration_repeating_style_6828678.jpg");
}

#inside {
    padding: 2% 10% 0%10% ;
    border-style: solid;
    background-color: whitesmoke;
    background-clip: content-box;
}

a {
    color: lightcoral;
    font-size: 21px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a:hover {
    color: #3a5199;
    text-decoration: underline;
}

b {
    color: #f6ecec;
    font-size: 12px;
    font-family: "Verdana", Arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #6e6464;
}

em {
    font-family: "Georgia", Arial, serif;
    font-size: 13px;
    color: #bc3368;
    padding-left: 35px;
    padding-right: 17px;
}

#recherche{
    color: black;
}

#recherche-label{
    color: white;
}
.flotte {
     float: left;
}

.text {
     padding-top: 30px;
     height: 100px;
     font-family: futura-pt, sans-serif;
     font-size: 20px;
}

.text a{
  font-size:20px;
  
}
img {

}

/* Header */
#head {
    margin-top:50px;
}

header {
    background-color: rosybrown;
    text-align: center;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D0D0D0;
}

header h1 {
    color: #D5D6D2;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-size: 30px;
    letter-spacing: 2px;
}

header h2 {
    color: #fff;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-size: 20px;
}

#head a:hover{
  text-decoration:none;
}

/* #connexion */
#connexion {
    width:1000px;
    position:absolute;
    font-size:11px;
    color : #fff;
    float:right;
    margin-left:10px;
}


#connexion div {
     float: left;
     margin-right: 5px;
     margin-bottom: 5px;
}

#seConnecter {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #fff;
    color: #302f33;
    box-shadow: 1px 1px 3px #8f8c8c;
    font-size: 11px;
    text-transform:lowercase;
}

#inp {
    height:10px;
    font-size:10px;
}

#connexion label {
    font-size:11px;
    text-transform:lowercase;
}

#connexion a {
    letter-spacing: 1px;
    font-size:11px;
    color: #fff;
    text-transform:lowercase;
}

#connexion a:hover {
    letter-spacing: 1px;
    font-size:11px;
    color: #d6d7d2;
    text-transform:lowercase;
}



/* authentification */

.login-page {
  width: 360px;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 5px 5px 0 rgba(255, 239, 239, 0.2);
}
.login-form input[type="text"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #d6d7d2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-form input[type="password"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #d6d7d2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3a5199;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #d7d8d2;
  color:#3a5199;
}
.form .message {
  margin: 15px 0 0;
  color: #3a5199;
  font-size: 11px;
}
.form .message a {
  color: #3a5199;
  text-decoration: none;
  text-transform:none;
  font-size:11px;
}
.form .register-form {
  display: none;
}

/* Formulaire */


#inscription {
    background-color: #ffffff;
    padding-left:50px;
    padding-top:50px;
    padding-bottom:50px;
    position: relative;
   border-radius: 2px;

}

#inscription h1 {
    margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
  text-transform:uppercase;
}

#inscription input {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 250px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

#inscription input:focus{
  border-bottom: 2px solid #3a5199;
  color: #3a5199;
  transition: 0.2s ease;
}

#inscription input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #3a5199;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

#inscription input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

#register {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    margin: auto;
    width: 40%;
    padding: 20px;
    background-color: #302f33;
    border: 1px solid #FAFAFA;
    opacity: 0.8;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

#registerh1 {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #FAFAFA;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
        letter-spacing: 2px;
}

p.login-button {
    margin: 5px 0;
}

.matricule {
    text-transform: uppercase;
        letter-spacing: 1px;
}

#matricule {
    margin-top: 5px;
}

#submitB {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #fff;
    color: #302f33;
    box-shadow: 1px 1px 3px #8f8c8c;
    font-size: 13px;
}


/* Footer */

footer {
    height: 50px;
    background-color: rosybrown;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #D0D0D0;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

footer p {
    font-size: 11px;
    color: #d6d7d2;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}


/* #content */

#content {
    margin-bottom: 200px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}

#content img {
  width:50%;
  height:50%;
}


/* #contenu */

#contenu {
    background-color: #3A5199;
    padding-right: 54px;
    padding-left: 54px;
    padding-bottom: 30px;
    padding-top: 16px;
}

#contenu div {
    float: left;
    margin-right: 100px;
}

#contenu a:hover {
    color: #fff;
    text-decoration: underline;
}

#contenu h1 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 500;
}


/* #calendrier-jour */

#calendrier-jour {
    background-color: #fff;
    padding-right: 54px;
    padding-left: 54px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 30px;
}

#calendrier-jour a {
    color: #3a5199;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#calendrier-jour a:hover {
    color: #302f33;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#calendrier-jour h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0c2653;
    margin: auto;
    text-align: center;
    padding-bottom: 18px;
}

#calendrier-jour ul {
    font-size: 13px;
    list-style-type: none;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#calendrier-jour td {
    list-style-type: none;
    font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
    margin-bottom: 5px;
}

#calendrier-jour table {
    margin:auto;
}

#calendrier-jour form {
    background-color: #FFF;
    padding: 10px;
    width: 480px;
    margin-top: 20px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

#calendrier-jour fieldset {
    padding: 0 20px 20px 20px;
    margin-bottom: 10px;
    border: 1px solid #3a5199;
}

#calendrier-jour legend {
    color: #3a5199;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#calendrier-jour label {
    margin-top: 10px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

#calendrier-jour label.inline {
    display: inline;
    margin-right: 50px;
}

#calendrier-jour input {
    padding: 3px;
    width: 200px;
    box-shadow: 1px 1px 2px #f9f9f9 inset;
    background-color: #fffffe;
}

#calendrier-jour input[type=submit] {
    width: 100px;
    cursor: pointer;
    background-color: #fff;
}

#calendrier-jour input[type=reset] {
    width: 100px;
    cursor: pointer;
    background-color: #fff;
}


/* #liste-matricule liste des mois */

#liste-matricule {
    background-color: #fff;
    padding-right: 54px;
    padding-left: 54px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-bottom: 30px;
}

#liste-matricule a {
    color: #3a5199;
}

#liste-matricule a:hover {
    color: #302f33;
    text-decoration: underline;
}

#liste-matricule p {
    font-family: "Georgia", Arial, serif;
    font-size: 16px;
    color: #302f33;
    font-style: italic;
}


/* #tableau = calendrier */

#tableau {
    background-color: #302f33;
    margin: auto;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 13px;
}

#tableau p {
    font-family: "Georgia", Arial, serif;
    font-size: 11px;
    color:#94999c;
}

#tableau a {
    font-family: "Georgia", Arial, serif;
    font-size: 11px;
    color: #8cb1ec;
    text-transform: none;
    font-weight: normal;
}
#tableau a:hover {
    font-family: "Georgia", Arial, serif;
    font-size: 11px;
    color:#fff;
    text-decoration:underline;
    text-transform:none;
    font-weight: 0;

}

#tableau table {
    margin: auto;
}




#tableau th {
    width: 130px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin: auto;
    font-weight: 400;
    border-bottom: 1px dashed #4f4d52;
    border-top: 1px dashed #4f4d52;
    letter-spacing: 2px;
    border-left: 1px dashed #4f4d52;
    border-right: 1px dashed #4f4d52;
}


#tableau td {
    color: #fff;
    border-bottom: 1px dashed #4f4d52;
    border-right: 1px dashed #4f4d52;
    border-left: 1px dashed #4f4d52;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
        font-size: 16px;
}

.recherche{
  color:#fff;
}


/* #description */
#description dl {
     border: 0px double #ccc;
     padding: 0.5em;
}

#description dt {
     float: left;
     clear: left;
     width: 100px;
     text-align: right;
     font-weight: bold;
     color: #302f33;
     font-size: 13px;
     letter-spacing: 1px;
}

#description dd {
     padding: 0 0 0.2em 0;
     font-size: 13px;
     color: #3a5199;
     padding-left: 80px;
     text-align: justify;
}

#description {
    float:left;
    width:60%;

}

/* #aside */
#aside {
    margin-left:70% ;
    background-color:#3a5199;
    color:#fff;
    padding-left: 20px;
    padding-top:50px;
    padding-bottom:50px;
    padding-right:20px;
    text-align:justify;
}

/* #contact */
#contact input {
  display: block;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 4px;
  width: 250px;
  height: 25px;
border:none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  transition: 0.2s ease;
}
/* #erreur404 */

#erreur404 a {
    color: #0d2652;
}

#erreur404 a:hover {
    color: #bc3368;
    text-decoration: underline;
}

#erreur404 p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}