{% extends "layout.html" %}
{% block content %}

<div >
  <div  class="row">
    <div class="col-3">
  <p>Bienvenue sur WIZENDA, l'agenda électronique intelligent qui vous permettra 
    d'agencer votre emploi du temps comme jamais auparavant.
  </p>
  <a href="/test"><button type="button" class="btn btn-primary"> Testez le maintenant !</button></a>
</div>
  <div id='col'>
      <img src="{{ url_for('static', filename='images/wizenda.jpg') }}" alt="calendar" height="400" width="600">
  </div>
</div>
</div>
{% endblock %}