{% extends "layout.html" %}
{% block content %}
<!-- Formulaire-animal -->
{% if username %}
<div id="inscription">
   <form action="/adoption" method="POST" enctype="multipart/form-data">
      <h1>Ajouter un animal pour adoption</h1>
      <p>
         <input id="nom_animal" name="nom_animal" type="text" placeholder="Nom de l'animal*" />
         <input id="type" name="type_animal" type="text" placeholder="Type d'animal*"/>
         <input id="race" name="race" type="text" placeholder="Race*"/>
         <input id="age" name="age" type="number" placeholder="Age*"/>
         <input id="adresse" name="adresse" type="text" placeholder="Adresse*"/>
         <input id="description" name="description" type="textarea" placeholder="Description*"/>
         <span>Ajouter une photo</span><input type="file" name="photo" accept=".png"/>
         <br/> 
         {% if error %}
      <p style="color:#F03; font-size:10px;">Tous les champs étoilés sont obligatoires.</p>
      {% endif %}
      </p>
      <p class="login-button">
         <input type="submit" name="Adopter" value="Faire adopter!" id="" />
      </p>
   </form>
</div>
<!-- #inscription-->
{% else %} 
<p> Accès non autorisé. Vous devez d'abord vous <a href="/authentification">connecter</a>.</p>
{% endif %}
{% endblock %}