{% extends "layout.html" %}
{% block content %}





<div id="description">

{% if animal %}

<h2> Le joli {{ animal.nom }} </h2>
<img src=""/>
<dl>

<dt> Type:</dt> <dd> {{ animal.type_animal }} </dd>
<dt> Race:</dt> <dd> {{ animal.race }} </dd>
<dt> Age:</dt> <dd> {{ animal.age }} ans </dd>
<dt> Description:</dt> <dd> {{ animal.description}} </dd>
</dl>

{% endif %}

</div>

<div id="aside">
   {% if username %}

<p> Contacter le propriétaire: </p>

<form id="contact" action="/contact" method="POST">
   <label>Prénom : </label> <input name="prenom" type="text" />
   <label>E-mail : <input name="email" type="email"/>
   <label>Message : </label><input name="doc" type="textarea" placeholder="Bonjour, je suis intéressé!" rows="5" col="10" />

<p class="login-button">
                <input type="submit" name="Envoyer" value="Envoyer" id="" />
            </p>
   </form>
 {% else %}
 <p> Connectez-vous pour contacter le propriétaire si vous êtes interessé par ce petit bout de chou. </p>
 {% endif %}
</div>




   {% if no_animal %}
   <h1> Pas d'animal</h1>
   {% endif %}
<!-- #LISTE_MATRICULE-->
{% endblock %}