{% extends "layout.html" %}
{% block content %}
{% if username %}
{% endif %}
<div id="description">
   {% if animal %}
   <h2> Le joli {{ animal.nom }} </h2>
   <img src="/image/{{ animal.image }}"/>
   <dl>
      <dt> Type:</dt>
      <dd> {{ animal.type_animal }} </dd>
      <dt> Race:</dt>
      <dd> {{ animal.race }} </dd>
      <dt> Age:</dt>
      <dd> {{ animal.age }} ans </dd>
      <dt> Description:</dt>
      <dd> {{ animal.description }} </dd>
      <dt> Adresse:</dt>
      <dd> {{ animal.adresse }} </dd>
   </dl>
   {% endif %}
</div>
<div id="aside">
   <p> Contacter le propriétaire: </p>
      <label>Prénom : </label> <input name="prenom" type="text" /><br>
      <label>E-mail : </label><input name="email" type="email" id="email" placeholder="{{email}}"/><br>
      <label>Message : </label><input name="doc" id="doc" type="textarea" placeholder="Bonjour, je suis intéressé!" rows="5" col="10" /><br>
      <p class="login-button">
         <input type="button" name="Envoyer" value="Envoyer" onclick="envoyerMail()" />
      </p>
      <p style="display: none; color: red;" id="messageErreur">Veuillez entrer votre mail</p>
</div>
{% if no_animal %}
<h1> Pas d'animal</h1>
{% endif %}
<!-- #LISTE_MATRICULE-->
{% endblock %}