{% extends "layout.html" %}
{% block content %}
<!-- Formulaire -->
<div id="authentification">
   <div class="login-page">
      <div class="form">
         <form class="login-form" method="POST" action="/authentification">
            {% if mail %}
            <p style="color:#F03; font-size:10px;">L'email n'existe pas</p>
            {% elif mdp %}
            <p style="color:#F03; font-size:10px;">Le mot de passe incorrect</p>
            {% elif champs %}
            <p style="color:#F03; font-size:10px;">Tous les champs sont obligatoires</p>
            {% endif %}
            <input type="text" name ="email" placeholder="email"/>
            <input class="login-form" name="mot_de_passe" type="password" placeholder="mot de passe"/>
            <button>Se connecter</button>
            <p class="message">Pas encore inscrit? <a href="/inscription">Créer un compte</a><br>
               Mot de passe oublié? <a href="/reinit">Réinitialisez</a>
            </p>
         </form>
      </div>
   </div>
</div>
<!-- #authentification-->
{% endblock %}