{% extends "frontpage.html" %}
{% block content %}

<div id="contenu">

   {% if no_matricule %}
   <h1> Pas de matricule</h1>
   <a href="/">Retour à la page d'accueil </a>
   {% endif %}

   {% if user_matricule %}
   <h1> Compte : {{ user_matricule }} </h1>
   <div><a href="{{ url_for('calendrier_mois', matricule=user_matricule, mois=mois_annee) }}"> Récapitulatif {{ mois_nom }} </a></div>
   <div><a href="{{ url_for('matricule_page', matricule=user_matricule) }}"> Liste de tous les mois </a></div>
   <div><a href="{{ url_for('offline') }}">Déconnexion </a></div>
   {% endif %}

</div><!-- #contenu-->

<div id="calendrier-jour">

   {% if no_elem %}
   <center>
      <ul><a href="{{ url_for('calendrier_jour', matricule=user_matricule, date_du_jour=previous) }}">&#8592;</a>  &nbsp; Tâches effectuées le {{today}} &nbsp; <a href="{{ url_for('calendrier_jour', matricule=user_matricule, date_du_jour=next) }}">&#8594;</a></ul>
   </center>
   <table> 
      <tr>
         <td><em>Aucune tâche en cours </em></td>
      </tr>
   </table>

   <form method="POST" action="{{ url_for('ajout_modif', matricule=user_matricule, date_du_jour=today ) }} ">
      <fieldset>
         <legend> Ajouter un projet </legend>
         <p class="indication"> Tous les champs avec des <span class="required">*</span> sont obligatoires.</p>
         {% if error %}
         <p style="color:#700">{{ error }}</p>
         {% endif %}
         <br />
         <p>
            <label for="code_de_projet">Code de projet * :</label> <input type="text" name="code_de_projet" id="code_de_projet" required /> <br /><br />
            <label for="duree">Durée à ajouter * :</label> <input type="number" name="duree" id="duree" min="1"  required /> <br /><br />
            <input type="reset" value="Reset" /> <input type="submit" value="Ajouter" />
         </p>
      </fieldset>
   </form>

   {% else %}

   <center>
      <ul><a href="{{ url_for('calendrier_jour', matricule=user_matricule, date_du_jour=previous) }}">&#8592;</a>  &nbsp; Tâches effectuées le {{today}} &nbsp; <a href="{{ url_for('calendrier_jour', matricule=user_matricule, date_du_jour=next) }}">&#8594;</a></ul>
   </center>
<table>
   {% for elems in elements %}  
   <tr>
      <td> <em>Code du projet</em> {{elems[0]}} </td>
      <td> <em>Duree</em> {{elems[1]}} </td>
   </tr>   
   {% endfor %} 
 </table>  
   <br/>

   <form method="POST" action="{{ url_for('ajout_modif', matricule=user_matricule, date_du_jour=today ) }} ">
      <fieldset>
         <legend> Ajouter/Modifier un projet </legend>
         <p class="indication"> Tous les champs avec des <span class="required">*</span> sont obligatoires.</p>
         <br />
         <p>
            <label for="code_de_projet">Code de projet * :</label>  <input type="text" name="code_de_projet" id="code_de_projet" required /> <br /><br />
            <label for="duree">Durée à ajouter * :</label>  <input type="number" name="duree" id="duree" min="1" required /> <br /><br />
            <input type="reset" value="Reset" /> <input type="submit" value="Ajouter" />
         </p>
      </fieldset>
   </form>
   <center><a href="{{ url_for('form_projet', matricule=user_matricule, date_du_jour=today ) }}"> Supprimer un projet </a><center>

   {% endif %}
   
</div>
<!-- #CALENDRIER-JOUR-->
{% endblock %}