{% extends "frontpage.html" %}
{% block content %}

         <div id="contenu">
            {% if no_matricule %}
            <h1> Pas de matricule</h1>
            {% endif %}
            
            {% if user_matricule %}
            
            <h1> Compte : {{ user_matricule }} </h1>
            <div><a href="{{ url_for('matricule_page', matricule=user_matricule) }}"> Liste de tous les mois </a></div>
            <div><a href="{{ url_for('offline') }}">Déconnexion </a></div>
            {% endif %}
            
         </div>
         <!-- #contenu-->
         <div id="calendrier-jour">
            <h2>
               <a href="{{ url_for('calendrier_mois', matricule=user_matricule, mois=previous) }}">&#8592;</a>&nbsp;&nbsp;
               {{mois_nom}} {{annee}}&nbsp;&nbsp;
                <a href="{{ url_for('calendrier_mois', matricule=user_matricule, mois=next) }}">&#8594;</a>
            </h2>
            
            <div id="tableau">
               <table>
                  <thead>
                     <tr id="jour"><th>Dimanche </th>
                        <th>Lundi</th>
                        <th>Mardi</th>
                        <th>Mercredi</th>
                        <th>Jeudi</th>
                        <th>Vendredi</th>
                        <th>Samedi</th>
                        </tr>
                  </thead>
                  <tbody>

                     {% for num in range (nweek) %}
                     <tr>
                        {% set week = weeks[num] %}
                        {% for n in range (7)%}
                        <td>
                           {% if week[n] != 0 %}
                           {{week[n]}} <br>

                           <!-- s'il y a 0 projet -->
                           {% if total_heures[week[n]-1] == None %}

                           
                           <p>Aucun projet</p>
                           <!-- s'il y a plusieurs projets -->
                           {% else %}
                           {%if week[n] < 10 %}
                           {% set date_jour = mois+'-'+'0'+('%d'%(week[n])) %}
                           {% else %}
                           {% set date_jour = mois+'-'+('%d'%(week[n])) %}
                           {% endif %}
                           <a href="{{ url_for('calendrier_jour', matricule=user_matricule ,date_du_jour=date_jour) }}">Heures : {{total_heures[week[n]-1]}} </a>
                           {% endif %}
                           {% endif %}
                        </td>
                        {% endfor %}

                     </tr>
                     {% endfor %}
                  </tbody>
                  
               </table>
           
            </div>
         </div>
         <!-- #CALENDRIER-JOUR-->
         



{% endblock %}