<!DOCTYPE html>
<html lang="fr">

<head>
    <title> Kijijanimals </title>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet"  >
    <script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
</head>

<body >


    <header>
        <div id="connexion"> 
            
            {% if username %}
            <div> Bonjour {{username}} &nbsp; | &nbsp; <a href="">Mon compte</a> &nbsp; | &nbsp; <a href="/logout">Déconnexion</a> </div>

            {% else %}
            <form action="/" method="POST">
                <div> <label for="email" class="email"> E-mail : </label> </div>
                <div> <input id="input" name="email" type="text" /> </div>

                <div> <label for="mot_de_passe" class="motDePasse"> Mot de passe : </label></div>
                <div> <input id="inp" name="mot_de_passe" type="password" /> </div>

                <div> 
                <input type="submit" name="seConnecter" value="Se connecter" id="seConnecter" />
             </div>
                
            </form>

            <div> &nbsp; | &nbsp; <a href="/inscription"> Pas encore inscrit?</a> </div>

            {% endif %} 
        </div>

        <div id="head">
        <a href="/"><h1> Kijijanimals </h1></a>
        <h2> Le meilleur moyen de se faire de nouveaux amis </h2>
        </div>
        <div class="recherche">
                <label>Recherche</label>
                <input type="text" name="recherche" id="recherche">
                <input type="button" name="envoyer" onclick="rechercher()">
        </div>
    </header>

<div id="content">

    {% for n in cinq %}
    <div class="animal-frontpage">
        <a class="animal-frontpage-nom" href="{{ url_for('page_animal', id=n.id) }}"> {{ n.nom }} </a>
        <h2 class="animal-frontpage-type"> {{ n.type_animal }} {{n.race}}</h2>


    </div>
    {% endfor %}
    {% block content %}{% endblock %}


</div> <!-- #content -->
   
    <footer>

      <p>
        © 2018  — Designed By 
        <b>Sophie Phouangsy</b> and <b>Benjamin Bonnaire</b> dans le cadre d'un projet pour le cours INF3005
      </p>
    </footer>
</body>

</html>