{% extends "layout.html" %}
{% block content %}
{% if username %}
<h1> Mes informations </h1>
<div id="inscription">
   <form action="/mes-informations" method="POST">
      <h1>Modifier votre profil</h1>
      <p>
         <input id="nom" name="nom" type="text" placeholder="{{username}}"/>
         {{ email }} <br><br>
         <input id="mdp" name="mdp" type="password" placeholder="Mot de passe"/>
         <br/>
      </p>
      <p class="login-button">
         <input type="submit" name="Modifier" value="Modifier" id="" />
         {% if modif %}
      <h2> Modification faite! </h2>
      {% endif %}
      </p>
   </form>
</div>
{% else %} 
<p> Accès non autorisé. Vous devez d'abord vous <a href"/authentification">connecter</a>.</p>
{% endif %}
<!-- #LISTE_MATRICULE-->
{% endblock %}