{% extends "layout.html" %}
{% block content %}


            {% if username %}
<h1> Mes informations </h1>

<div id="inscription">

    {% for info in infos%}

        <form action="/mes-informations" method="POST">
            <h1>Modifier votre profil</h1>
            <p>
                <input id="nom" name="nom" type="text" placeholder="{{ info[0] }}"/>
                <input id="prenom" name="prenom" type="text" placeholder="{{ info[1] }}"/>
                {{ email }} <br><br>
                <input id="mdp" name="mdp" type="password" placeholder="Mot de passe"/>
                <input id="tel" name="tel" type="tel" placeholder="{{ info[2] }}"/>
                <input id="addr" name="addr" type="text" placeholder="{{ info[3] }}"/>
                <input id="ville" name="ville" type="text" placeholder="{{ info[4] }}"/>
                <input id="CP" name="CP" type="text" placeholder="{{ info[5] }}"/>
                <br/> 


                {% if wrong %}
                <p style="color:#F03; font-size:10px;">Code postal incorrect</p>
                {% endif %}
            </p>
            <p class="login-button">
                <input type="submit" name="Modifier" value="Modifier" id="" />

                   {% if modif %}

    <h2> Modification faite! </h2>

                    {% endif %}
            </p>

        </form>
    {% endfor %}
</div>

   {% else %} 
<p> Accès non autorisé. Vous devez d'abord vous <a href"/authentification">connecter</a>.</p>
   {% endif %}



<!-- #LISTE_MATRICULE-->
{% endblock %}