<!DOCTYPE html>
<html lang="fr">
   <head>
      <title> WIZENDA </title>
      <meta charset="UTF-8">
      <link href="{{ url_for('static', filename='css/bootstrap-4/css/bootstrap.css') }}" rel="stylesheet"  >
      <link href="{{ url_for('static', filename='css/fullcalendar.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='css/fullcalendar.print.min.css')}}" rel='stylesheet' media='print' />
<script src="{{ url_for('static', filename='javascript/fullcalendar/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/fullcalendar/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/script.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/fullcalendar/fullcalendar.min.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/fullcalendar/fr.js')}}"></script>
   </head>
   <body>
      <!-- <div id="inside"> -->
         <nav class="navbar fixed-top navbar-light bg-light">
            <div class="navbar-brand" id="connexion">
               {% if username %}
               <div> 
                  <p> {{username}} &nbsp; | &nbsp; <a href="/mes-informations">Mon compte</a> &nbsp; | &nbsp; <a href="/logout">Déconnexion</a> 
                     &nbsp; | &nbsp; <a href="/mon-agenda">Mon Agenda</a>
                  </p>
               </div>
               <div style="padding-left: 5%;">
                  <a  href="/">
                  <h1 class="h3" > WIZENDA </h1>
               </a>
            </div>
               {% else %}
               <form class="form-inline" action="/" method="POST">
                  <div class="form-group row">
                     <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                     <div class="col-sm-10"> 
                        <input class="form-control-plaintext" name="email" type="text" /> 
                     </div>
                  </div>
                  <div class="form-group mx-sm-3 mb-2">
                        <label for="inputPassword2" >Mot de passe :</label>
                        <input class="form-control" id="inputPassword" name="mot_de_passe" type="password" /> 
                        </div>
                     <button class="btn btn-primary mb-2" type="submit" name="seConnecter" >Se connecter</button>
                     <div> &nbsp; | &nbsp; <a style="font-size: 12px" href="/inscription"> Pas encore inscrit?</a> 
                        &nbsp; | &nbsp; <a  style="font-size: 12px" href="/reinit"> Mot de passe oublié</a></div>
                     <div style="padding-left: 5%;">
                        <a  href="/">
                        <h1 class="h3" > WIZENDA </h1>
                     </a>
                  </div>
               </form>
               
               {% endif %} 
            </div>
              
         </nav>

         <div style="padding: 10% 10% 10% 10%;" class="container-fluid">
            {% block content %}{% endblock %}
         </div>
         
         <!-- #content -->
         <div " class="card text-center">
               <div class="card-header">
               <p class="card-text">
               © 2019  — Designed By 
               Benjamin Bonnaire dans le cadre d'un projet pour le cours INM5151
               </p>
               </div>
         </div>
      </div>
   </body>
</html>