{% extends "frontpage.html" %}
{% block content %}
<div id="contenu">
   {% if no_matricule %}
   <h1> Pas de matricule</h1>
   {% endif %}
   {% if matricule %}
   <h1> Compte : {{ matricule }} </h1>
   <div><a href="{{ url_for('offline') }}">Déconnexion </a></div>
   {% endif %}
</div>
<!-- /matricule-->
<div id="liste-matricule">
   <p> Liste des mois travaillés </p>
   <ul>
      {%for mois in liste_mois %}
      <li><a href="{{ url_for('calendrier_mois', matricule=matricule, mois=mois) }}">  {{mois}} </a></li>
      {% endfor %}
   </ul>
</div>
<!-- #LISTE_MATRICULE-->
{% endblock %}