{% extends "layout.html" %}

<script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
      <link href="{{ url_for('static', filename='css/fullcalendar.min.css') }}" rel='stylesheet' />
<link href="{{ url_for('static', filename='css/fullcalendar.print.min.css')}}" rel='stylesheet' media='print' />
<script src="{{ url_for('static', filename='javascript/fullcalendar/moment.min.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/fullcalendar/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='javascript/fullcalendar/fullcalendar.min.js')}}"></script>
