{% extends "layout.html" %}
{% block content %}
{%if objectifs%}
<div class="wrapper">
<h3>Liste des objectifs</h3>
<form action="/supprimer-objectif" method="POST">
  {% for item in objectifs%}
   <li>{{item.titre}} {{item.duree}} heures par {{item.freq}} <input type="checkbox" name="objectifs" value="{{item.titre}}"></li>
  {%endfor%}
  <input type="submit" id="butt_supp_obj" style="visibility : hidden" value="Supprimer objectif" name="submit">
</form>
</div>
{%endif%}
<div class="wrapper">
<nav id="sidebar">
  <div class="sidebar-header">
   <button type="button" onclick="getDoc()"> Ajouter un objectif</button>
</div>
{% if error %}
<p style="color:#F03; font-size:10px;">Tous les champs sont obligatoires.</p>
{% endif %}
    <form method="POST" action="/mon-agenda" name="obj_form">
      <div id="form">

      </div>
    </form>

</nav>
  <div id='calendar'></div>
</div> 
<script>
    function getDoc(){
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        document.getElementById("form").innerHTML =
        this.responseText;
      }
    };
    xhr.open("GET", "/form-obj", true);
    xhr.send();
    }
    var checkbox = document.querySelector("input[name=objectifs]");

    checkbox.addEventListener( 'change', function() {
    if(this.checked) {
      document.getElementById("butt_supp_obj").style.visibility = "visible";
    } else {
      document.getElementById("butt_supp_obj").style.visibility = "hidden";
    }
});
    </script>
  {% endblock %}